export(dithionite_flippase_assay_plot)
export(dithionite_flippase_assay_stats)
export(dithionite_flippase_assay_traces)
export(parse_fluorometer_output)
export(version_check)
import(ggplot2)
import(plyr)
import(robustbase)
importFrom(utils,packageVersion)
